<div style="width: 289px;
font-family: Segoe UI;
font-size: 56px;
color: #251351;
font-weight: 700;
transform-origin: 50% 50%;
transform: matrix(1, 0, 0, 1, 0, 0);" class="hero-element">CRIF
</div>
<div style="width: 97px;
font-family: Segoe UI;
font-size: 35px;
color: #780116;
font-weight: 400;
transform-origin: 50% 50%;
transform: matrix(1, 0, 0, 1, 1275, 43);" class="hero-element">Home
</div>
<div style="width: 147px;
font-family: Segoe UI;
font-size: 35px;
color: #780116;
font-weight: 400;
transform-origin: 50% 50%;
transform: matrix(1, 0, 0, 1, 1457, 43);" class="hero-element">About Us
</div>
<div style="width: 171px;
font-family: Segoe UI;
font-size: 35px;
color: #780116;
font-weight: 400;
transform-origin: 50% 50%;
transform: matrix(1, 0, 0, 1, 1689, 43);" class="hero-element">Contact Us
</div>