<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a
    class="navbar-brand"
    href="#"
    style="
      font-family: Segoe UI;
      font-size: 56px;
      color: #251351;
      font-weight: 700;
      margin: 0 auto;
    "
    >C R I F</a
  >
  <div class="collapse navbar-collapse" id="navbarText" style="position:absolute; right: 0;">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link, header_links" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link, header_links" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link, header_links" href="#">Contact</a>
      </li>
    </ul>
  </div>
</nav>
